<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <script>
        let array1 = [1, 2, 3, 4, 5];
        for (let i= 0, j= array1.length - 1; i<j; i++, j--) {
            let temp = array1[i];
            console.log(temp);
            array1[i] = array1[j];
            console.log(array1);
            `/n`
            array1[j] = temp;
            console.log(array1);
        }
        console.log(array1);
    </script>
</body>
</html>